www.roamwise.live {
    redir https://roamwise.live{uri} permanent
}
roamwise.live {
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -X-Powered-By
    }

    @seo path /robots.txt
    handle @seo {
        reverse_proxy frontend:4000 {
            header_down Cache-Control "public, max-age=3600"
        }
    }

    @sitemap path /sitemap.xml
    handle @sitemap {
        reverse_proxy backend:8080 {
            header_down Cache-Control "public, max-age=3600"
        }
    }

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:4000
    }
}