roamwise.live {
    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -X-Powered-By
    }

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:4000
    }
}